{% extends 'loja/layout.html' %}

{% block content %}
  <div class="row">
	{% if user.is_authenticated %}
	  <h4>Olá {{ user.first_name }}!</h4>
	{% else %}
	  <p>Usuário não logado!</p>
	  <a href="{% url 'login' %}">Login</a>
	{% endif %}
  </div>
  
  
  
  <div class="row">
	<div class="col s12 m3 l4">
	  <p><a href="/accounts/user/" class="btn red lighten-2">Dados Gerais</a></p>
	  <p><a href="/accounts/produtos/" class="btn red lighten-1">Produtos</a></p>
    </div>
	<div class="col s12 m9 l8">
	  <div class="row">
		<h6><b>Fornecedor</b></h6>
		<form name="formu" id="formu" method="POST" action=".">{% csrf_token %}
		  <label>Username:
		  <input name="username" type="text" id="username" value="{{user.username}}" style="background-color:lightgrey;" readonly /></label><br />
		  <label>E-mail:
		  <input name="email" type="text" id="email" value="{{user.email}}" style="background-color:lightgrey;" readonly /></label><br />		  
		</form>
	  </div>
	  <div class="row">
		<h6><b>API Produtos</b></h6>
		  <h3>Foram encontrados <b class="green-text">{{data|length}}</b> produtos:</h3>
		  <table class ="striped">
			<tr>
			  <th>Categoria</th>
			  <th>Produto</th>
			  <th>Preço</th>
			</tr>
  		  {% for produto in data %}
			<tr>
			  <td>{{produto.categoria}}</td>
			  <td>{{produto.nome}}</td>
			  <td>{{produto.preco}}</td>
			</tr>		
		  {% endfor %}
		</table>
		{% if data == '' %}
		<form action="../../user/" method="GET">
		  <button type="submit" id="voltaruser" class="btn right">Atualizar URL</button>
		</form>
		{% else %}
		<form action="../sucess/" method="POST">{% csrf_token %}
		  <button type="submit" id="atualizaprods" class="btn right">Atualizar catálogo</button>
		</form>
		{% endif %}
	  </div>
	</div>
  </div>    
  
{% endblock %}